form {
    display: table-cell;
}
input {
    background-color: #42614a; /* Green */
        border: 1;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

}
H1{
    color:#4da764;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -75px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: -2px; /* .push must be the same height as .footer */,
    
}
hr {
    margin: 20px 0;
	padding: 0;
	height: 6px;
	border: none;
	background: linear-gradient(45deg, #42614a, #15ff00);
}
table{
    width: 450;
    
}
img{
    float: left;
}
